body {
  background-color: hsl(52, 85%, 39%);
  text-align: center;
}

.pet {
  font-family: fantasy;
}

.secret {
  opacity: 0.5;
}

ul[storage="trunk"] {
  list-style: none;
}

table {
  border: 1px solid gray;
  margin: 0 auto;
}

th,
td {
  border: 1px solid gray;
}
.cabbage {
  color: CHARTREUSE;
}
